<!DOCTYPE CSS>
<html>
<head>
    <meta content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1"/>
    <title>Taipei Trip 台北一日遊</title>
    <link rel="stylesheet" type="text/css" href="/public/attraction/layout.css">
</head>
<body>
    <div class="navbar">
        <div class="header">
            <div class="title">台北一日遊</div>
            <div class="frame2">
                    <a href="" style="color: #666666;text-decoration: none;margin-right: 10px;">預定行程</a>
                    <a href="" style="color: #666666;text-decoration: none;">登入/註冊</a>
            </div>
        </div>
    </div>


    
<script>

</script>  
</body>
</html>