<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1"/>
    <title>Taipei Trip 台北一日遊</title>
    <link rel="stylesheet" type="text/css" href="/public/attraction/attraction_layout.css">
</head>

<body onload="getAttraction();checkAPI()">

    <div id="modalSignin" class="modal">
   
        <div class="modalContent">
            <div class="mpdalHeader"></div>    
            <span id="closeSignin" onclick="closeSignin()"><img src="/public/index/icon_close.png"> </span>
            <div class="formTitle">登入會員帳號</div>
            
                <p><input id="email" type="text" placeholder="輸入電子信箱" name="email"
                    style="background:#FFFFFF;width: 90%;height: 50px;  padding: 0px;border:1px solid #CCCCCC;border-radius: 5px;"></p>
                <p><input id="password" type="password" placeholder="輸入密碼" name="password"
                    style="background:#FFFFFF;width: 90%;height: 50px;  padding: 0px;border:1px solid #CCCCCC;border-radius: 5px;"></p>
                <p><input type="submit" value="登入帳戶" onclick="signinAPI()" ></p>
          
                <div id="signinErrorText" class="messageText"></div>
            <div class="formChange" onclick="changeSignup()">還沒有帳戶？點此註冊</div>
        </div>
    </div>

    <div id="modalSignup" class="modal">
        
        <div class="modalContent2">
            <div class="mpdalHeader"></div>
            <span id="closeSignin" onclick="closeSignup()"><img src="/public/index/icon_close.png"> </span>   

            <div class="formTitle">註冊會員帳號</div>

                <p><input id="signupName" type="text" placeholder="輸入姓名" name="name"
                    style="background:#FFFFFF;width: 90%;height: 50px;  padding: 0px;border:1px solid #CCCCCC;border-radius: 5px 0px 0px 5px;"></p>
                <p><input id="signupEmail" type="text" placeholder="輸入電子信箱" name="email"
                    style="background:#FFFFFF;width: 90%;height: 50px;  padding: 0px;border:1px solid #CCCCCC;border-radius: 5px 0px 0px 5px;"></p>
                <p><input id="signupPassword" type="password" placeholder="輸入密碼" name="password"
                    style="background:#FFFFFF;width: 90%;height: 50px;  padding: 0px;border:1px solid #CCCCCC;border-radius: 5px 0px 0px 5px;"></p>
                <p><input type="submit" value="註冊新帳戶" onclick="signupAPI()"></p>

                <div id="messageText" class="messageText">{{message}}</div>
            <div class="formChange" onclick="changeSignin()">已經有帳戶了？點此登入</div>
        </div>
    </div>

    <div class="navbar">
        <div class="header">
            <div class="title">台北一日遊</div>
            <div class="frame2">
                    <a class="click" style="margin-right: 10px;">預定行程</a>
                    <a id="textSignin" class="click" onclick="signin()">登入/註冊</a>
                    <a id="textSignout" class="click" onclick="signoutAPI()" style="display: none;">登出系統</a>
            </div>
        </div>
    </div>
    <hr class="hr1">
    <div class="top">
        <div class="pic">

            <div class="slider">
            <ul class="slides" id="slides">
            </ul>  
            </div>
            <span class="left" onclick="left()"></span>    
            <span class="right" onclick="right()"></span>
            <ol id="ol"></ol>  
          
        </div>
         
        <div class="brief">
            <div id="name" class="name"></div>
            <div id="what" class="where"></div>
            <div class="buy">
                <div class="buy_word">
                    <div class= "line1">訂購導覽行程</div>
                    <div class="line2">以此景點為中心的一日行程，帶您探索城市角落故事</div>
                    <div class="date">
                        選擇日期：
                        <input id="date" type="date" value="yyyy-MM-dd">
                    </div>
                    <div class="time">
                        選擇時間：
                        <label><input type="radio" checked=true name="time" value="上半天" onclick="show2000()"/>  上半天</label>
                        <label><input type="radio" name="time" value="下半天" onclick="show2500()"/>  下半天</label>
                    </div>
                    <div class="money">
                        導覽費用：
                        <div class="moneytext" id="moneytext2000">
                            新台幣 2000元
                        </div>
                        <div class="moneytext" id="moneytext2500" style="display:none;">
                            新台幣 2500元
                        </div>
                    </div>
                    <button class="order" onclick="bookingNew()">
                        開始預訂行程
                    </button>
                </div>
            </div>
        </div>            

    </div>

    <hr class="hr2">
    <div class="infos">
        <div id="intro" class="getInfo" style="margin-top: 50px;"></div>
        <div class="vanilla" style="margin-top: 20px;">景點地址:</div>
        <div id="address" class="getInfo"></div>
        <div class="vanilla" style="margin-top: 20px;">交通方式:</div>
        <div id="traffic" class="getInfo"></div>
    </div>
    <div class="bottom">
        COPYRIGHT © 2021 台北一日遊
    </div>
<script type="text/javascript">

    let id=window.location.pathname.split('/');
    console.log(id[2]);
    let pic = 0;

    function getAttraction(){
        url="http://3.229.198.70:3000/api/attractions/"+id[2]
        if (id[2]==null){
                return "STOP";
            }
        fetch(url, {method:"GET"})
        .then((response) => {
            return response.json(); 
        })
        .then((data) => {
            let list=data.data;
            let images=list.images;
            let piclist=[];

            for (let i in images){
                let image=images[i];
                piclist.push(image);
            }

            console.log(pic);
            for (let i in piclist){
                let picFrame = document.getElementById("slides");
                let eachPic = document.createElement("li");
                eachPic.className="slides";
                eachPic.id = i;
                picFrame.appendChild(eachPic);
                let Pic = document.createElement("img");
                eachPic.appendChild(Pic);
                let url = piclist[i];
                Pic.src = url;

   
                let ol = document.getElementById("ol");
                let divLi = document.createElement("div");
                divLi.className="dot";
                ol.appendChild(divLi);
                let olinput = document.createElement("input");
                olinput.setAttribute("type", "radio");
                olinput.name = "dot";
                olinput.id = "dot"+i;
                divLi.appendChild(olinput);
            }
            let first = document.getElementById("dot0");
            first.setAttribute("checked","true");

            let showPic = document.getElementById(0);
            showPic.style.cssText = "display:block";

            let name=document.getElementById("name");
            let nameText=document.createTextNode(list.name);
            name.appendChild(nameText);

            let description=document.getElementById("intro");
            let descriptionText=document.createTextNode(list.description);
            description.appendChild(descriptionText);

            let address=document.getElementById("address");
            let addressText=document.createTextNode(list.address);
            address.appendChild(addressText);

            let transport=document.getElementById("traffic");
            let transportText=document.createTextNode(list.transport);
            transport.appendChild(transportText);

            let category=document.getElementById("what");
            let categoryText=document.createTextNode(list.category);
            category.appendChild(categoryText);

            let at=document.createTextNode(" at ")
            category.appendChild(at);

            let mrtText=document.createTextNode(list.mrt);
            category.appendChild(mrtText);
        })
        .catch((err) => {
            console.log('錯誤:', err);
        });
    }
        
    let num = 0;
    function left(){
        let liNum = document.getElementById("slides").getElementsByTagName("li").length;
        if (num-1 < 0){
            return 0;
        }        
        let showPic = document.getElementById(num);
        showPic.style.cssText = "display:none";     
        let dot = document.getElementById("dot"+(num-1));
        dot.checked = true;
        num--;
        console.log(num);
    }


    function right(){
        let liNum = document.getElementById("slides").getElementsByTagName("li").length;
        if(num == liNum-1){
            return console.log (num);
        }
        num++;
        let showPic = document.getElementById(num);
        showPic.style.cssText = "display:block";
        let dot = document.getElementById("dot"+num);
        dot.checked = true;
        console.log(num);
    }


    function show2000(){
        let moneytext2000 = document.getElementById("moneytext2000");
        let moneytext2500 = document.getElementById("moneytext2500");
        moneytext2500.style.cssText = "display:none"
        moneytext2000.style.cssText = "display:block"
    }

    function show2500(){
        let moneytext2000 = document.getElementById("moneytext2000");
        let moneytext2500 = document.getElementById("moneytext2500");
        moneytext2000.style.cssText = "display:none"
        moneytext2500.style.cssText = "display:block"
    }

    function bookingNew(){
        let url="/api/user";
        fetch(url, {method: 'GET'})
        .then((response) => {
            console.log(response);
            return response.json(); 
        })
        .then((jsonData) => {
            if (jsonData.data == null){
                signin();
            }
            else{
                let attractionId=window.location.pathname.split('/');
                let attractionName = document.getElementById("name").innerText;
                let attractionAddress = document.getElementById("address").innerText;
                let attractionImage = document.getElementsByTagName("img")[2].src;
                let date = document.getElementById("date").value;
                let time = document.querySelector('[name=time]:checked').value;

                if (time == "上半天"){
                    let time = "morning";
                    let price =2000;
                    console.log(price);

                    let url="/api/booking";
                    fetch(url, {
                        body:JSON.stringify({
                            "attractionId":attractionId[2],
                            "date":date,
                            "time":time,
                            "price":price
                        }),
                        headers: {
                        'Content-Type': 'application/json'
                        },
                        method: 'POST'
                    })
                    .then((response) => {
                        console.log(response);
                        return response.json(); 
                    })
                    .then((jsonData) => {
                        if (jsonData.ok==true){
                            console.log(jsonData.ok);
                            window.location.href = '/booking';
                        }
                    })
                    .catch((err) => {
                        console.log('錯誤:', err);
                    });
                    
                }else{
                    let time = "afternoon";
                    let price = 2500;
                    console.log(price);

                    let url="/api/booking";
                    fetch(url, {
                        body:JSON.stringify({
                            "attractionId":attractionId[2],
                            "date":date,
                            "time":time,
                            "price":price
                        }),
                        headers: {
                        'Content-Type': 'application/json'
                        },
                        method: 'POST'
                    })
                    .then((response) => {
                        console.log(response);
                        return response.json(); 
                    })
                    .then((jsonData) => {
                        if (jsonData.ok==true){
                            console.log(jsonData.ok);
                            window.location.href = '/booking';
                        }
                    })
                    .catch((err) => {
                        console.log('錯誤:', err);
                    });
                }
            }
        })
        .catch((err) => {
                console.log('錯誤:', err);
            });
    }
</script>  

<script type="text/javascript">
    let modalSignin = document.getElementById("modalSignin");
    let modalSignup = document.getElementById("modalSignup");
    let textSignin = document.getElementById("textSignin");
    let textSignout = document.getElementById("textSignout");
    let messageText = document.getElementById("messageText");
    let signinErrorText = document.getElementById("signinErrorText");
    
        function signin(){      
            modalSignin.style.display = "block";
        }
        function closeSignin(){
            modalSignin.style.display = "none";
        }

        function changeSignup(){
            modalSignin.style.display = "none";
            modalSignup.style.display = "block";
        }
        function changeSignin(){
            modalSignin.style.display = "block";
            modalSignup.style.display = "none";
        }

        function closeSignup(){
            modalSignup.style.display = "none";
        }        
        
        window.onclick = function(event) {
            if (event.target == modalSignin) {
                modalSignin.style.display = "none";
            }
            if (event.target == modalSignup) {
                modalSignup.style.display = "none";
            }
        }

        function signinAPI(){
            let email = document.getElementById("email").value;
            let password = document.getElementById("password").value;
            console.log(email);
            url="/api/user"
            fetch(url, {
                body:JSON.stringify({
                    "email":email,
                    "password":password
                }),
                headers: {
                'Content-Type': 'application/json'
                },
                method: 'PATCH'
            })
            .then((response) => {
            console.log(response);
            return response.json(); 
            })
            .then((jsonData) => {
            if (jsonData.ok==true){
                console.log(jsonData.ok);
                signinErrorText.innerText = "";
                location.reload();
            }
            else{
                signinErrorText.innerText = "";
                let signinError = document.createTextNode("帳號或密碼輸入錯誤！");
                signinErrorText.appendChild(signinError);
            }
            })
            .catch((err) => {
                console.log('錯誤:', err);
            });
        }
        function signupAPI(){
            let signupEmail = document.getElementById("signupEmail").value;
            let signupPassword = document.getElementById("signupPassword").value;
            let signupName = document.getElementById("signupName").value;
            console.log(signupEmail);
            url="/api/user"
            fetch(url, {
                body:JSON.stringify({
                    "name":signupName,
                    "email":signupEmail,
                    "password":signupPassword
                }),
                headers: {
                'Content-Type': 'application/json'
                },
                method: 'POST'
            })
            .then((response) => {
                console.log(response);
                return response.json(); 
            })
            .then((jsonData) => {
                if (jsonData.ok==true){
                    console.log(jsonData.ok);
                    messageText.innerText = ""
                    let done = document.createTextNode("已成功註冊！");
                    messageText.appendChild(done);

                }
                else{
                    messageText.innerText = ""
                    let fail = document.createTextNode(jsonData.message);
                    messageText.appendChild(fail);

                }
            })
            .catch((err) => {
                console.log('錯誤:', err);
            });
        }
        function checkAPI(){
            url="/api/user"
            fetch(url, {method: 'GET'})
            .then((response) => {
            console.log(response);
            return response.json(); 
            })
            .then((jsonData) => {
            if (jsonData.data != null){
                textSignin.style.display = "none";
                textSignout.style.display = "block";
            }
            })
            .catch((err) => {
                console.log('錯誤:', err);
            });
        }

        function signoutAPI(){
            url="/api/user"
            fetch(url, {method: 'DELETE'})
            .then(() => {
                location.reload()
            })
            .catch((err) => {
                console.log('錯誤:', err);
            });
        }

        function booking(){
            url="/api/user"
            fetch(url, {method: 'GET'})
            .then((response) => {
                console.log(response);
                return response.json(); 
            })
            .then((jsonData) => {
            if (jsonData.data == null){
                signin();
            }
            else{
                window.location.href = '/booking';
            }
            })
            .catch((err) => {
                console.log('錯誤:', err);
            });
        }
    </script>
</body>
</html>