<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1"/>
    <title>Taipei Trip 台北一日遊</title>
    <link rel="stylesheet" type="text/css" href="public/index/layout.css">
</head>

<body onload="checkAPI()">
    <div id="modalSignin" class="modal">
   
        <div class="modalContent">
            <div class="mpdalHeader"></div>    
            <span id="closeSignin" onclick="closeSignin()"><img src="/public/index/icon_close.png"> </span>
            <div class="formTitle">登入會員帳號</div>
            
                <p><input id="email" type="text" placeholder="輸入電子信箱" name="email"
                    style="background:#FFFFFF;width: 90%;height: 50px;  padding: 0px;border:1px solid #CCCCCC;border-radius: 5px;"></p>
                <p><input id="password" type="password" placeholder="輸入密碼" name="password"
                    style="background:#FFFFFF;width: 90%;height: 50px;  padding: 0px;border:1px solid #CCCCCC;border-radius: 5px;"></p>
                <p><input type="submit" value="登入帳戶" onclick="signinAPI()" ></p>
                    
                <div id="signinErrorText" class="messageText"></div>
            <div class="formChange" onclick="changeSignup()">還沒有帳戶？點此註冊</div>
        </div>
    </div>

    <div id="modalSignup" class="modal">
        
        <div class="modalContent2">
            <div class="mpdalHeader"></div>
            <span id="closeSignin" onclick="closeSignup()"><img src="/public/index/icon_close.png"> </span>   

            <div class="formTitle">註冊會員帳號</div>

                <p><input id="signupName" type="text" placeholder="輸入姓名" name="name"
                    style="background:#FFFFFF;width: 90%;height: 50px;  padding: 0px;border:1px solid #CCCCCC;border-radius: 5px 0px 0px 5px;"></p>
                <p><input id="signupEmail" type="text" placeholder="輸入電子信箱" name="email"
                    style="background:#FFFFFF;width: 90%;height: 50px;  padding: 0px;border:1px solid #CCCCCC;border-radius: 5px 0px 0px 5px;"></p>
                <p><input id="signupPassword" type="password" placeholder="輸入密碼" name="password"
                    style="background:#FFFFFF;width: 90%;height: 50px;  padding: 0px;border:1px solid #CCCCCC;border-radius: 5px 0px 0px 5px;"></p>
                <p><input type="submit" value="註冊新帳戶" onclick="signupAPI()"></p>

                <div id="messageText" class="messageText">{{message}}</div>
            <div class="formChange" onclick="changeSignin()">已經有帳戶了？點此登入</div>
        </div>
    </div>

    <div class="navbar">
        <div class="header">
            <div class="title">台北一日遊</div>
            <div class="frame2">
                    <a class="click" style="margin-right: 10px;">預定行程</a>
                    <a id="textSignin" class="click" onclick="signin()">登入/註冊</a>
                    <a id="textSignout" class="click" onclick="signoutAPI()" style="display: none;">登出系統</a>
            </div>
        </div>
    </div>

    <div class="welcome">
        <div class="front">
            <div class="slogan">
                <div>
                    <div style="font-weight: 700;
                    font-size: 28px;
                    line-height: 24px;">
                    輕鬆享受台北一日悠閒
                    </div>
                    <div style="font-weight: 400;
                    font-size: 16px;
                    line-height: 13px;
                    margin-top: 20px;">
                    探索每個角落，體驗城市的深度旅遊行程
                    </div>
                </div>
            </div>

            <div class="search">
                        
                <input tpye="text" id="searchText" placeholder="輸入景點名稱查詢"
                    style="background:#FFFFFF;width: 400px;height: 46px;  padding: 0px;border-width: 0px;border-radius: 5px 0px 0px 5px;">
                </input>
            
                <button  onclick="search();" style="
                    background: #448899;width: 60px;height: 46px;left: 400px;border-radius: 0px 5px 5px 0px;border-width: 0px;">
                    <img src="/public/index/icon_search.png" class="icon" ></img>
                </button>
                        
            </div>
        </div>

        <img class="weclomeImg"></img>
    </div>
    
    <div class=frame id=0 style="margin-top: 50px;"></div>
        <div id="nothing" style="text-align: center;"></div>
    <div class="bottom">
        COPYRIGHT © 2021 台北一日遊
    </div>
    <div id="listEnd"></div>

    <script type="text/javascript">

        let nextPage=0;
        let callNext=true;
        function getData(){
            console.log(callNext);
            url="http://3.229.198.70:3000/api/attractions?page="+nextPage;
            if (nextPage==null){
                return "STOP";
            }
            if (callNext == true){
                fetch(url, {method:"GET"})
                .then((response) => {
                    return response.json(); 
                })
                .then((data) => {
                    let list=data.data;
                    let allnames = [];
                    let allpics = [];
                    let allmrts = [];
                    let allcates = [];
                    let allid = [];
                    for (let i in list){
                        let names=list[i].name;
                        allnames.push(names);
                        let pics=list[i].images[0];
                        allpics.push(pics);
                        let mrts=list[i].mrt;
                        allmrts.push(mrts);
                        let cates=list[i].category;
                        allcates.push(cates);
                        let id=list[i].id;
                        allid.push(id);
                    }
                    
                    for (i=0;i<allnames.length;i++){
                        let spotList=document.getElementById('0');
                        let newDiv=document.createElement('div');
                        spotList.appendChild(newDiv);
                        newDiv.className='pic';
                        
                        let url = document.createElement("a");
                        url.setAttribute('href',"http://3.229.198.70:3000/attraction/"+allid[i])
                    
                        newDiv.appendChild(url);

                        let image = document.createElement('img');
                        url.appendChild(image);
                        let objectURL =allpics[i];
                        image.src = objectURL;        

                        let word=document.createElement('div');
                        word.style.cssText="font-weight: 700;font-size: 16px;line-height: 13px;margin-top: 15px;margin-left: 15px;margin-bottom:0px;"
                        newDiv.appendChild(word);  
                        let spotName=allnames[i];
                        let nameNode=document.createTextNode(spotName);
                        word.appendChild(nameNode);
                        let flex=document.createElement('div');
                        flex.style.cssText="display: flex;"
                        word.appendChild(flex);

                        let left=document.createElement('div');
                        left.style.cssText="font-weight: 400;font-size: 16px;line-height: 13px;margin-top: 15px;margin-bottom: 15px;flex: auto;text-align:left;"
                        flex.appendChild(left);

                        let mrtName=allmrts[i];
                        let mrtNode=document.createTextNode(mrtName);
                        left.appendChild(mrtNode);

                        let right=document.createElement('div');
                        right.style.cssText="font-weight: 400;font-size: 16px;line-height: 13px;margin-top: 15px;margin-bottom: 15px;margin-right:10px;text-align:right;flex: auto;;"
                        flex.appendChild(right);
                        let cateName=allcates[i];
                        let cateNode=document.createTextNode(cateName);
                        right.appendChild(cateNode);         
                    }                
                    nextPage=data.nextPage; 
                    callNext=false;
                    console.log(callNext);
                })
            
            .catch((err) => {
                console.log('錯誤:', err);
            });
            }
            }

        let nextPageSearch=0;
        function search(){
            console.log(1);
            let searchText=document.getElementById("searchText").value;
            console.log(searchText);
            if(searchText==""){
                return;
            }
            else{
                url="http://3.229.198.70:3000/api/attractions?page="+nextPageSearch+"&keyword="+searchText;
                if(nextPageSearch==null){
                    return "stop";
                }
                fetch(url, {method:"GET"})
                .then((response) => {
                    return response.json();
                })
                .then((data) =>{
    
                    let origin=document.getElementsByClassName("pic");
                    for (let i = 0; i < origin.length; i++) {
                        origin[i].style.display = "none"; 
                    }
                    console.log(data.data);
                    if (data.data[0]==null){
                        let nothing=document.getElementById("nothing");
                        console.log(nothing.textContent);
                        if (!nothing.textContent ){
                            let nothingText=document.createTextNode("查無結果");
                            nothing.appendChild(nothingText);
                        }
                        
 
                    }
                    else{
                        let searchallnames = [];
                        let searchallpics = [];
                        let searchallmrts = [];
                        let searchallcates = []
                        let list=data.data;
                        for (let i in list){
                            let names=list[i].name;
                            searchallnames.push(names);
                            let pics=list[i].images[0];
                            searchallpics.push(pics);
                            let mrts=list[i].mrt;
                            searchallmrts.push(mrts);
                            let cates=list[i].category;
                            searchallcates.push(cates);
                            }
                        
                        for(let i=0;i<searchallnames.length;i++){
                            
                            let list=document.getElementById('0');
                            let newDiv=document.createElement('div');
                            list.appendChild(newDiv);
                            newDiv.className='Searchpic';

                            let image = document.createElement('img');
                            newDiv.appendChild(image);
                            let objectURL =searchallpics[i];
                            image.src = objectURL;        

                            let word=document.createElement('div');
                            word.style.cssText="font-weight: 700;font-size: 16px;line-height: 13px;margin-top: 15px;margin-left: 15px;margin-bottom:0px;"
                            newDiv.appendChild(word);  
                            let spotName=searchallnames[i];
                            let nameNode=document.createTextNode(spotName);
                            word.appendChild(nameNode);
                            let flex=document.createElement('div');
                            flex.style.cssText="display: flex;"
                            word.appendChild(flex);

                            let left=document.createElement('div');
                            left.style.cssText="font-weight: 400;font-size: 16px;line-height: 13px;margin-top: 15px;margin-bottom: 15px;flex: auto;text-align:left;"
                            flex.appendChild(left);

                            let mrtName=searchallmrts[i];
                            let mrtNode=document.createTextNode(mrtName);
                            left.appendChild(mrtNode);

                            let right=document.createElement('div');
                            right.style.cssText="font-weight: 400;font-size: 16px;line-height: 13px;margin-top: 15px;margin-bottom: 15px;margin-right:10px;text-align:right;flex: auto;;"
                            flex.appendChild(right);
                            let cateName=searchallcates[i];
                            let cateNode=document.createTextNode(cateName);
                            right.appendChild(cateNode);         
                        }                
                    nextPageSearch=data.nextPage;
                  
                }
            })

        .catch((err) => {
            console.log('錯誤:', err);
        });
        }
    }

        let listEnd=document.getElementById('listEnd');
        let options={
            root:null,
            rootMargin:"0px 0px 50px 0px",
            threshold:[0]
        };
        console.log(nextPageSearch[nextPageSearch.length-1]);

        let callback = ([entry])=>{
            let searchText=document.getElementById("searchText").value;
            if(entry && entry.isIntersecting && searchText){
                search();
            }
            else if(entry && entry.isIntersecting){
                getData();
            }
            callNext = true;
        }
        let observer=new IntersectionObserver (callback,options);
        observer.observe(listEnd);
    </script>  

    <script type="text/javascript">
    let modalSignin = document.getElementById("modalSignin");
    let modalSignup = document.getElementById("modalSignup");
    let textSignin = document.getElementById("textSignin");
    let textSignout = document.getElementById("textSignout");
    let messageText = document.getElementById("messageText");
    let signinErrorText = document.getElementById("signinErrorText");
    
        function signin(){      
            modalSignin.style.display = "block";
        }
        function closeSignin(){
            modalSignin.style.display = "none";
        }

        function changeSignup(){
            modalSignin.style.display = "none";
            modalSignup.style.display = "block";
        }
        function changeSignin(){
            modalSignin.style.display = "block";
            modalSignup.style.display = "none";
        }

        function closeSignup(){
            modalSignup.style.display = "none";
        }        
        
        window.onclick = function(event) {
            if (event.target == modalSignin) {
                modalSignin.style.display = "none";
            }
            if (event.target == modalSignup) {
                modalSignup.style.display = "none";
            }
        }

        function signinAPI(){
            let email = document.getElementById("email").value;
            let password = document.getElementById("password").value;
            console.log(email);
            url="/api/user"
            fetch(url, {
                body:JSON.stringify({
                    "email":email,
                    "password":password
                }),
                headers: {
                'Content-Type': 'application/json'
                },
                method: 'PATCH'
            })
            .then((response) => {
            console.log(response);
            return response.json(); 
            })
            .then((jsonData) => {
            if (jsonData.ok==true){
                console.log(jsonData.ok);
                signinErrorText.innerText = "";
                location.reload();
            }
            else{
                signinErrorText.innerText = "";
                let signinError = document.createTextNode("帳號或密碼輸入錯誤！");
                signinErrorText.appendChild(signinError);
            }
            })
            .catch((err) => {
                console.log('錯誤:', err);
            });
        }
        function signupAPI(){
            let signupEmail = document.getElementById("signupEmail").value;
            let signupPassword = document.getElementById("signupPassword").value;
            let signupName = document.getElementById("signupName").value;
            console.log(signupEmail);
            url="/api/user"
            fetch(url, {
                body:JSON.stringify({
                    "name":signupName,
                    "email":signupEmail,
                    "password":signupPassword
                }),
                headers: {
                'Content-Type': 'application/json'
                },
                method: 'POST'
            })
            .then((response) => {
                console.log(response);
                return response.json(); 
            })
            .then((jsonData) => {
                if (jsonData.ok==true){
                    console.log(jsonData.ok);
                    messageText.innerText = ""
                    let done = document.createTextNode("已成功註冊！");
                    messageText.appendChild(done);

                }
                else{
                    messageText.innerText = ""
                    let fail = document.createTextNode(jsonData.message);
                    messageText.appendChild(fail);

                }
            })
            .catch((err) => {
                console.log('錯誤:', err);
            });
        }
        function checkAPI(){
            url="/api/user"
            fetch(url, {method: 'GET'})
            .then((response) => {
            console.log(response);
            return response.json(); 
            })
            .then((jsonData) => {
            if (jsonData.data != null){
                textSignin.style.display = "none";
                textSignout.style.display = "block";
            }
            })
            .catch((err) => {
                console.log('錯誤:', err);
            });
        }

        function signoutAPI(){
            url="/api/user"
            fetch(url, {method: 'DELETE'})
            .then(() => {
                location.reload()
            })
            .catch((err) => {
                console.log('錯誤:', err);
            });
        }
    </script>
</body>
</html>